/* ===========================================================
  Footer
============================================================ */
footer {
	background-color: $blue;
	color: $white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
}
