/* ===========================================================
  Header
============================================================ */
header {
	background-color: $blue;
	padding: 10px;
}

.site-header {
	display: flex;
	justify-content: space-between;
	&__title {
		margin: 0;
	}
}