/* ===========================================================
  Header
============================================================ */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.site-header {
	display: flex;
	justify-content: space-between;
	&__bar {
		background-color: $blue;
    	box-shadow: 0px -5px 14px 5px #212121;
		padding: 2rem;
		width: 100%;
		z-index: 2;
	}
	&__branding {
		display: inline-block;
	}
	&__title {
		color: #fff;
		font-weight: normal;
		margin: 0;
	}
}