// Variables

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', serif;

// Colors

// Site color palette
$blue: #576973;
$cream: #e4d6d5;
$white: #dfdee6;
$tope: #8d7987;
$gold: #bb965b;

// Other colors
$black: #212121;
$dark-gray: #303030;
$gray: #606060;
$light-gray: #909090;
$transparent-gray: rgba(40,40,40,0.8);
$trans-gray: linear-gradient(40deg, rgba(100,100,100,0.3), rgba(250,250,250,0.3));
$hover-color: $light-gray;


// Breakpoints
$bkpts: (
	'xs': 440px,
	'sm': 600px,
	'md': 800px,
	'lg': 1000px,
	'xl': 1200px,
	'xxl': 1600px,
);