.graphic {
	background-size: 23rem 23rem;
	background-repeat: no-repeat;
	height: 23rem;
	width: 23rem;
	
	&-exploring {
		background-image: url(../images/telescope.svg);
		float: left;
		margin-left: -8rem;
		margin-right: 2rem;
	}
	&-designing {
		background-image: url(../images/designing.svg);
		float: right;
		margin-left: 2rem;
		margin-right: -8rem;
	}
}