/* ===========================================================
  Icons
============================================================ */

.icon {
	height: 2rem;
	width: 2rem;
	fill: currentColor;
}

.social-media {
  svg {
    height: 54px;
    width: 54px;
    fill: $white;
    transition:
      fill 300ms ease-in-out;
    &:hover {
      fill: $gold;
    }
  }
}
