/* 	Contains styling for mobile menu container, 
	NOT styling for the actual menu items. See navigation.scss */

.main-nav {
	position: fixed;
    width: 100%;
    background-color: $white;
	box-shadow: 0px -5px 14px 5px #212121;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 11rem 2rem 2rem;
    transform: translateY(-100vh);
    z-index: 1;
    transition:
    	transform 400ms ease-out;
}

.mobile-menu-button {
	position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    width: 3rem;
    height: 2.6rem;
    .top,
    .middle,
    .bottom {
		border-bottom: 4px solid $gold;
		position: absolute;
		top: 1.1rem;
		width: 100%;
		transition:
			transform 300ms ease-in-out;
    }
    .top {
		transform: translateY(-1.1rem);
    }
    .middle {
		transform: translateY(0rem);
		transition:
			opacity 300ms ease-out,
			transform 300ms ease-in-out;
    }
    .bottom {
		transform: translateY(1.1rem);
    }
}

.mobile-menu-open {
	.main-nav {
		transform: translateY(0vh);
		transition:
			transform 400ms ease-out;
	}
	.mobile-menu-button {
		.top {
			transform: translateY(0) rotate(45deg);
		}
		.middle {
			transform: translateY(0) rotate(360deg);
			opacity: 0;
		}
		.bottom {
			transform: translateY(0) rotate(-45deg);
		}
	}
}