.portfolio {
	&__header {
		@include header;
	}
	&__title {
		@include header-title;
	}
	&__pieces {
		display: flex;
		flex-wrap: wrap;
	}
	&__underline {
		@include header-underline(white);
	}
}

.port-item {
	padding: 3rem 1.5rem;
	position: relative;
	width: 100%;

	@include bp(xs) {
		padding: 3rem 2.5rem;
	}

	@include bp(lg) {
		width: 50%;
		flex-grow: 1;
	}

	&__description {
		background-color: #eee;
	    padding: 2rem;
	    border-radius: 3px;
	    margin: 4rem auto 0;
	    p:first-of-type {
	    	margin: 0;
	    }
	}

	&__images {
		position: relative;
		height: 200px;
		margin: 15px auto;
		max-width: 320px;

		@include bp(sm) {
			height: 230px;
			max-width: 350px;
		}

		&:before {
			background-color: rgba(0, 0, 0, 0.2);
		    border-radius: 50%;
		    content: '';
		    position: absolute;
		    bottom: -8px;
		    left: 50%;
		    height: 36px;
		    width: 100%;
		    transform: translateX(-50%);

		    @include bp(sm) {
		    	width: 110%;
		    }
		}

		.image-overlay {
			background-color: rgba(255,255,255,0.8);
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			padding: 0.5rem;
			position: absolute;
			text-align: center;
			transform: translateX(-50%) translateY(-50%);
			transition:
				opacity 300ms ease-in-out;
			&:hover {
				opacity: 1;
				.image-overlay__text {
					color: black;
				}
			}
		}
	}
	&__title {
		margin-bottom: 0;
		text-align: center;
	}

	&__underline {
		margin-bottom: 3rem;
	}
	
	&:nth-of-type(2n) {
		.port-item__desktop-image {
			border-left: none;
			border-right: 5px solid $gray;
			left: auto;
			right: 0;
			transform: perspective(600px) rotateY(-24deg);
			&:after {
				border-left: none;
				border-right: 5px solid $gray;
			}
		}
		.port-item__mobile-image {
			right: auto;
			left: 9px;
			transform: perspective(500px) rotateY(10deg);
		}
	}

	/* Computer/phone graphics */
	&__desktop-image {
		background-color: $dark-gray;
		border-left: 5px solid $gray;
	    border-radius: 1rem;
	    height: 165px;
	    padding: 1rem;
	    position: absolute;
		left: 0;
	    top: 0;
		transform: perspective(600px) rotateY(24deg);

		@include bp(xs) {
			height: 180px;
		}

		@include bp(sm) {
			height: 200px;
		}

		img {
			height: 100%;
		}

		.image-overlay {
			height: calc(100% - 2rem);
			width: calc(100% - 2rem);
			top: 50%;
			left: 50%;
			&__text {
				font-size: 3rem;
			}
		}

		&:after {
		    content: ' ';
		    display: block;
		    background-color: $dark-gray;
		    border-left: 5px solid $gray;
		    border-top: 2px solid $gray;
		    border-top-left-radius: 15px;
		    border-top-right-radius: 15px;
		    height: 20px;
		    width: 100px;
		    position: absolute;
		    bottom: 18px;
		    left: 50%;
		    transform: translate(-50%, 40px);
		}
	}
	&__mobile-image {
	    background-color: #303030;
	    border-radius: 10px;
	    box-shadow: -4px 2px 14px -5px #303030;
	    padding: 1.5rem 0.3rem 1rem;
	    position: absolute;
	    right: 9px;
	    bottom: 5px;
	    transform: perspective(500px) rotateY(-10deg);
	    width: 26%;

		.image-overlay {
			height: calc(100% - 3.2rem);
			width: calc(100% - 0.6rem);
			top: calc(50% - 1px);
			left: 50%;
			&__text {
				font-size: 2rem;
			}
		}

	    &:before {
	    	background-color: white;
	    	border-radius: 3px;
			content: '';
			height: 2px;
			left: 50%;
			position: absolute;
			top: 5px;
			transform: translate(-50%);
			width: 8px;
	    }
	    &:after {
			background-color: transparent;
			border: 1px solid $gray;
			border-radius: 50%;
			bottom: 5px;
			content: '';
			height: 8px;
			left: 50%;
			position: absolute;
			transform: translate(-50%);
			width: 8px;
	    }
	}
}

.button--visit-site {
	margin-top: 3rem;

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2.0rem;
		text-decoration: none;
		.icon {
			height: 2rem;
			margin-left: 1rem;
		}
	}
	&__text {
		display: flex;
		align-items: center;
		margin: 0;
	}
}
