/* ===========================================================
  Sizing
============================================================ */

/*
  Width Styling
 */

.max-width {
  max-width: 68rem;
  margin-right: auto;
  margin-left: auto;
}