/**
 * Object fit polyfill
 */
/*
 * Calculate breakpoints
 */
/**
 * Header mixins
 */
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

img {
  max-width: 100%;
  height: auto; }

body {
  background-color: #dfdee6; }

.primary {
  margin-top: 7rem;
  min-height: 79vh; }

/**
 * Taken from Twentysixteen theme:
 *
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
* {
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: border-box; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

code,
kbd,
pre,
samp {
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

select {
  text-transform: none; }

button {
  overflow: visible; }

button,
input,
select,
textarea {
  max-width: 100%; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: .5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #d1d1d1;
  margin: 0 0 1.75em;
  min-width: inherit;
  padding: 0.875em; }

fieldset > :last-child {
  margin-bottom: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

/* ===========================================================
  Typography
============================================================ */
html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #212121; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", serif;
  margin: 0 0 1.5rem; }

h1 {
  font-size: 3.4rem;
  line-height: 4rem;
  padding: 30px 0; }
  @media only screen and (min-width: 600px) {
    h1 {
      font-size: 3.8rem;
      line-height: 5rem; } }

h2 {
  font-size: 2.5rem;
  line-height: 4rem; }
  @media only screen and (min-width: 600px) {
    h2 {
      font-size: 3.5rem;
      line-height: 5rem; } }

h3 {
  font-size: 2.0rem;
  line-height: 3.2rem; }
  @media only screen and (min-width: 600px) {
    h3 {
      font-size: 3.0rem;
      line-height: 4.2rem; } }

h4 {
  font-size: 2.8rem;
  line-height: 3.6rem; }

h5 {
  font-size: 2.6rem;
  line-height: 3.2rem; }

h6 {
  font-size: 2.2rem;
  line-height: 3.0rem; }

p {
  font-size: 1.6rem;
  line-height: 2.6rem; }

a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #212121;
  transition: color 300ms ease-in-out; }
  a:hover {
    color: #909090;
    cursor: pointer;
    text-decoration: none; }

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

li {
  text-transform: uppercase;
  list-style: none; }

span {
  font-size: 1.6rem;
  line-height: 2.6rem; }

pre {
  word-wrap: break-word; }

div {
  font-size: 1.6rem;
  line-height: 2.6rem; }

.sbc-underline {
  border-bottom: 2px solid #212121;
  height: 0;
  position: relative;
  margin: 1rem auto;
  width: 10rem; }
  .sbc-underline:after {
    border-bottom: solid 2px black;
    content: ' ';
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 7rem; }

.center {
  text-align: center; }

/* ===========================================================
  Display
============================================================ */
.flexing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.flex-simple {
  display: flex;
  align-items: center; }

.flex-column {
  flex-direction: column; }

.overlay {
  opacity: 1;
  background: rgba(40, 40, 40, 0.8);
  text-align: center;
  line-height: 2.33em;
  align-self: flex-end;
  height: 75px; }

.margin-edge {
  margin: 0 10px; }
.margin-top {
  margin-top: 30px; }
.margin-bottom {
  margin-bottom: 30px; }
.margin-right {
  margin-right: 30px; }
.margin-left {
  margin-left: 30px; }

.pad {
  padding: 10px; }
  .pad-top {
    padding-top: 10px; }
  .pad-bottom {
    padding-bottom: 10px; }
  .pad-left {
    padding-left: 10px; }
  .pad-right {
    padding-right: 10px; }

.none-tablet {
  display: none; }
.none-smallscreen {
  display: none; }

.float-left {
  float: left; }
.float-right {
  float: right; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.border-bottom {
  border-bottom: 2px solid #303030; }

.border-top {
  border-top: 2px solid #303030; }

.off-screen {
  position: absolute;
  left: -5000px; }

#wpadminbar {
  top: 0; }

/* ===========================================================
	Navigation
============================================================ */
.site-header a {
  color: #fff; }
  .site-header a:hover {
    color: #bb965b; }
.site-header .main-nav .page_item {
  text-align: center; }
  .site-header .main-nav .page_item a {
    padding: 1rem 0;
    font-size: 2.2rem;
    line-height: 5rem; }
@media only screen and (min-width: 800px) {
  .site-header .main-nav {
    background-color: transparent;
    box-shadow: none;
    display: block;
    height: auto;
    width: auto;
    padding: 0;
    position: static;
    transform: none; }
    .site-header .main-nav > div {
      height: 100%; }
    .site-header .main-nav ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
    .site-header .main-nav .page_item {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative; }
      .site-header .main-nav .page_item a {
        font-size: 1.8rem;
        padding: 1rem 2rem;
        position: relative; } }

#menu-main-menu li, #menu-footer-menu li {
  text-align: center; }
#menu-main-menu a, #menu-footer-menu a {
  font-weight: 700; }

.menu-item {
  width: 100%;
  margin: 10px 0; }

@media only screen and (min-width: 440px) {
  .site-footer__nav .page_item {
    display: inline-block;
    padding-right: 2rem; } }
.site-footer__nav .page_item a {
  color: #fff; }
  .site-footer__nav .page_item a:hover {
    color: #bb965b; }

/* ===========================================================
  Sizing
============================================================ */
/*
  Width Styling
 */
.max-width {
  max-width: 68rem;
  margin-right: auto;
  margin-left: auto; }

/* ===========================================================
  Icons
============================================================ */
.icon {
  height: 2rem;
  width: 2rem;
  fill: currentColor; }

.social-media svg {
  height: 54px;
  width: 54px;
  fill: #dfdee6;
  transition: fill 300ms ease-in-out; }
  .social-media svg:hover {
    fill: #bb965b; }

/* ===========================================================
  Buttons
============================================================ */
.button {
  background-color: #bb965b;
  color: #fff;
  padding: 0.8rem 1.8rem;
  letter-spacing: 1px;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out; }
  .button:hover {
    background-color: #a07c43;
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out; }
  .button:active {
    box-shadow: 5px 5px 5px -5px #404040 inset;
    color: #303030;
    transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out; }

/* 	Contains styling for mobile menu container, 
	NOT styling for the actual menu items. See navigation.scss */
.main-nav {
  background-color: #dfdee6;
  box-shadow: 0px -5px 14px 5px #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 8rem 2rem 2rem;
  position: fixed;
  transform: translateY(-100vh);
  width: 100%;
  z-index: 1;
  transition: transform 400ms ease-out; }

.mobile-menu-button {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  z-index: 2;
  width: 3rem;
  height: 2.6rem; }
  @media only screen and (min-width: 800px) {
    .mobile-menu-button {
      display: none; } }
  .mobile-menu-button .top,
  .mobile-menu-button .middle,
  .mobile-menu-button .bottom {
    border-bottom: 4px solid #bb965b;
    position: absolute;
    top: 1.1rem;
    width: 100%;
    transition: transform 300ms ease-in-out; }
  .mobile-menu-button .top {
    transform: translateY(-1.1rem); }
  .mobile-menu-button .middle {
    transform: translateY(0rem);
    transition: opacity 300ms ease-out, transform 300ms ease-in-out; }
  .mobile-menu-button .bottom {
    transform: translateY(1.1rem); }
  .mobile-menu-button:hover {
    cursor: pointer; }

.mobile-menu-open .main-nav {
  transform: translateY(0vh);
  transition: transform 400ms ease-out; }
.mobile-menu-open .mobile-menu-button .top {
  transform: translateY(0) rotate(45deg); }
.mobile-menu-open .mobile-menu-button .middle {
  transform: translateY(0) rotate(360deg);
  opacity: 0; }
.mobile-menu-open .mobile-menu-button .bottom {
  transform: translateY(0) rotate(-45deg); }

.portfolio__header {
  background-color: #576973;
  padding: 4rem 0; }
  @media only screen and (min-width: 440px) {
    .portfolio__header {
      padding: 5rem 0; } }
  @media only screen and (min-width: 800px) {
    .portfolio__header {
      padding: 7rem 0; } }
.portfolio__title {
  color: #fff;
  margin: 0;
  text-align: center; }
.portfolio__pieces {
  display: flex;
  flex-wrap: wrap; }
.portfolio__underline {
  border-color: #dfdee6; }
  .portfolio__underline:after {
    border-color: #dfdee6; }

.port-item {
  padding: 3rem 1.5rem;
  position: relative;
  width: 100%;
  /* Computer/phone graphics */ }
  @media only screen and (min-width: 440px) {
    .port-item {
      padding: 3rem 2.5rem; } }
  @media only screen and (min-width: 1000px) {
    .port-item {
      width: 50%;
      flex-grow: 1; } }
  .port-item__description {
    background-color: #eee;
    padding: 2rem;
    border-radius: 3px;
    margin: 4rem auto 0; }
    .port-item__description p:first-of-type {
      margin: 0; }
  .port-item__images {
    position: relative;
    height: 200px;
    margin: 15px auto;
    max-width: 320px; }
    @media only screen and (min-width: 600px) {
      .port-item__images {
        height: 230px;
        max-width: 350px; } }
    .port-item__images:before {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      height: 36px;
      width: 100%;
      transform: translateX(-50%); }
      @media only screen and (min-width: 600px) {
        .port-item__images:before {
          width: 110%; } }
    .port-item__images .image-overlay {
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      padding: 0.5rem;
      position: absolute;
      text-align: center;
      transform: translateX(-50%) translateY(-50%);
      transition: opacity 300ms ease-in-out; }
      .port-item__images .image-overlay:hover {
        opacity: 1; }
        .port-item__images .image-overlay:hover .image-overlay__text {
          color: black; }
  .port-item__title {
    margin-bottom: 0;
    text-align: center; }
  .port-item__underline {
    margin-bottom: 3rem; }
  .port-item:nth-of-type(3n - 1) .port-item__desktop-image {
    border-left: none;
    border-right: 5px solid #606060;
    left: auto;
    right: 0;
    transform: perspective(600px) rotateY(-24deg); }
    .port-item:nth-of-type(3n - 1) .port-item__desktop-image:after {
      border-left: none;
      border-right: 5px solid #606060; }
  .port-item:nth-of-type(3n - 1) .port-item__mobile-image {
    right: auto;
    left: 9px;
    transform: perspective(500px) rotateY(10deg); }
  .port-item__desktop-image {
    background-color: #303030;
    border-left: 5px solid #606060;
    border-radius: 1rem;
    height: 165px;
    padding: 1rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: perspective(600px) rotateY(24deg); }
    @media only screen and (min-width: 440px) {
      .port-item__desktop-image {
        height: 180px; } }
    @media only screen and (min-width: 600px) {
      .port-item__desktop-image {
        height: 200px; } }
    .port-item__desktop-image img {
      height: 100%; }
    .port-item__desktop-image .image-overlay {
      height: calc(100% - 2rem);
      width: calc(100% - 2rem);
      top: 50%;
      left: 50%; }
      .port-item__desktop-image .image-overlay__text {
        font-size: 3rem; }
    .port-item__desktop-image:after {
      content: ' ';
      display: block;
      background-color: #303030;
      border-left: 5px solid #606060;
      border-top: 2px solid #606060;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 20px;
      width: 100px;
      position: absolute;
      bottom: 18px;
      left: 50%;
      transform: translate(-50%, 40px); }
  .port-item__mobile-image {
    background-color: #303030;
    border-radius: 10px;
    box-shadow: -4px 2px 14px -5px #303030;
    padding: 1.5rem 0.3rem 1rem;
    position: absolute;
    right: 9px;
    bottom: 5px;
    transform: perspective(500px) rotateY(-10deg);
    width: 26%; }
    .port-item__mobile-image .image-overlay {
      height: calc(100% - 3.2rem);
      width: calc(100% - 0.6rem);
      top: calc(50% - 1px);
      left: 50%; }
      .port-item__mobile-image .image-overlay__text {
        font-size: 2rem; }
    .port-item__mobile-image:before {
      background-color: white;
      border-radius: 3px;
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      top: 5px;
      transform: translate(-50%);
      width: 8px; }
    .port-item__mobile-image:after {
      background-color: transparent;
      border: 1px solid #606060;
      border-radius: 50%;
      bottom: 5px;
      content: '';
      height: 8px;
      left: 50%;
      position: absolute;
      transform: translate(-50%);
      width: 8px; }

.button--visit-site {
  margin-top: 3rem; }
  .button--visit-site__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0rem; }
    .button--visit-site__link .icon {
      height: 2rem;
      margin-left: 1rem; }
  .button--visit-site__text {
    display: flex;
    align-items: center;
    margin: 0; }

/* ===========================================================
  Header
============================================================ */
.site-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  @media only screen and (min-width: 800px) {
    .site-header {
      background-color: #576973;
      box-shadow: 0px -5px 14px 5px #212121;
      padding: 0 2rem; } }
  .site-header__bar {
    background-color: #576973;
    box-shadow: 0px -5px 14px 5px #212121;
    height: 7rem;
    width: 100%;
    z-index: 2; }
    @media only screen and (min-width: 800px) {
      .site-header__bar {
        background-color: transparent;
        box-shadow: none;
        width: auto;
        z-index: none; } }
  .site-header__branding {
    display: inline-block;
    height: 100%; }
  .site-header__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem; }
  .site-header__title {
    color: #fff;
    font-weight: normal;
    margin: 0;
    transition: color 300ms ease-in-out; }
    .site-header__title:hover {
      color: #bb965b; }

/* ===========================================================
  Footer
============================================================ */
footer {
  background-color: #576973;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }
  @media only screen and (min-width: 440px) {
    footer {
      padding: 1rem 2rem; } }
  @media only screen and (min-width: 600px) {
    footer {
      padding: 1rem 3rem; } }
  @media only screen and (min-width: 800px) {
    footer {
      padding: 1rem 5rem; } }

/* ===========================================================
  Front Page
============================================================ */
.fold-first {
  position: relative; }

.fold-second__button {
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    .fold-second__button {
      margin-top: 3rem; } }
.fold-second__content {
  margin: 0 auto; }
.fold-second__header {
  background-color: #576973;
  padding: 4rem 0; }
  @media only screen and (min-width: 440px) {
    .fold-second__header {
      padding: 5rem 0; } }
  @media only screen and (min-width: 800px) {
    .fold-second__header {
      padding: 7rem 0; } }
.fold-second__text {
  padding: 4rem 1.5rem; }
  @media only screen and (min-width: 440px) {
    .fold-second__text {
      padding: 5rem 2.5rem; } }
.fold-second__title {
  color: #fff;
  margin: 0;
  text-align: center; }
.fold-second__underline {
  border-color: #dfdee6; }
  .fold-second__underline:after {
    border-color: #dfdee6; }

.home-hero {
  background: linear-gradient(142deg, #fff 50%, #C8C8C8);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .home-hero img {
    position: absolute;
    padding: 2rem 0 0;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    transform: translateX(200px);
    transition: transform 1200ms cubic-bezier(0.45, 0.01, 0.27, 0.99); }
  .home-hero.slide-in img {
    transform: translateX(70px); }
    @media only screen and (min-width: 600px) {
      .home-hero.slide-in img {
        transform: translateX(20px); } }
    @media only screen and (min-width: 800px) {
      .home-hero.slide-in img {
        transform: translateX(0px); } }

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  min-height: 35rem;
  max-width: 80rem;
  position: relative;
  padding: 0rem 2rem;
  width: 100%; }
  @media only screen and (min-width: 440px) {
    .welcome-section {
      min-height: 40rem; } }
  @media only screen and (min-width: 600px) {
    .welcome-section {
      background: transparent;
      min-height: 48rem; } }
  @media only screen and (min-width: 800px) {
    .welcome-section {
      min-height: 55rem;
      padding: 0rem 4rem; } }
  @media only screen and (min-width: 1000px) {
    .welcome-section {
      min-height: 61rem; } }
  .welcome-section__text {
    line-height: 1.3;
    margin: 0;
    max-width: 25rem;
    padding: 0 0 3.0rem; }
    @media only screen and (min-width: 440px) {
      .welcome-section__text {
        max-width: 44rem; } }
    @media only screen and (min-width: 600px) {
      .welcome-section__text {
        font-size: 4rem; } }
    @media only screen and (min-width: 800px) {
      .welcome-section__text {
        font-size: 5rem;
        max-width: 50rem; } }

/* ===========================================================
  Content
============================================================ */

/*# sourceMappingURL=app.css.map */
