/**
 * Object fit polyfill
 */
/**
 * Breakpoints mixin. Makes media queries easier.
 * Choose a point from the defined variable $brkpts in _variables.scss or set your own.
 */
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

img {
  max-width: 100%;
  height: auto; }

/**
 * Taken from Twentysixteen theme:
 *
 * 1.0 - Normalize
 *
 * Normalizing styles have been helped along thanks to the fine work of
 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 */
* {
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: border-box; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

code,
kbd,
pre,
samp {
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

select {
  text-transform: none; }

button {
  overflow: visible; }

button,
input,
select,
textarea {
  max-width: 100%; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: .5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.4375em;
  padding: 0; }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-outer-spin-button,
input[type="week"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-outer-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #d1d1d1;
  margin: 0 0 1.75em;
  min-width: inherit;
  padding: 0.875em; }

fieldset > :last-child {
  margin-bottom: 0; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

optgroup {
  font-weight: bold; }

/* ===========================================================
  Typography
============================================================ */
html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #212121; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Slabo 27px", serif; }

h1 {
  font-size: 3.6rem;
  padding: 30px 0; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem;
  line-height: 3.6rem; }

h4 {
  font-size: 2.6rem;
  line-height: 3.2rem; }

h5 {
  font-size: 2.4rem;
  line-height: 3rem; }

h6 {
  font-size: 2.2rem;
  line-height: 2.8rem; }

p {
  font-size: 1.6rem;
  line-height: 2.6rem; }

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #212121;
  letter-spacing: 1px; }
  a:hover {
    color: #909090;
    text-decoration: none; }

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

li {
  text-transform: uppercase;
  list-style: none; }

span {
  font-size: 2.4rem;
  line-height: 3.6rem; }

pre {
  word-wrap: break-word; }

div {
  font-size: 2.0rem;
  line-height: 2.6rem; }

.sbc-underline {
  height: 2rem;
  position: relative;
  margin: 1rem auto;
  width: 10rem; }
  .sbc-underline:before {
    border-bottom: solid 2px black;
    content: ' ';
    display: block;
    position: absolute;
    top: 1rem;
    left: 0;
    transform: rotate(7deg);
    width: 100%; }
  .sbc-underline:after {
    border-bottom: solid 2px black;
    content: ' ';
    display: block;
    position: absolute;
    top: 1rem;
    left: 0;
    transform: rotate(-7deg);
    width: 100%; }

.center {
  text-align: center; }

/* ===========================================================
  Utility
============================================================ */
/* ===========================================================
  Display
============================================================ */
.flexing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.flex-simple {
  display: flex;
  align-items: center; }

.flex-column {
  flex-direction: column; }

.overlay {
  opacity: 1;
  background: rgba(40, 40, 40, 0.8);
  text-align: center;
  line-height: 2.33em;
  align-self: flex-end;
  height: 75px; }
  @media (min-width: 980px) {
    .overlay {
      height: inherit;
      opacity: 0;
      padding: 0 20%;
      align-self: auto; }
      .overlay:hover {
        opacity: 1; } }

.margin-edge {
  margin: 0 10px; }
  @media (min-width: 768px) {
    .margin-edge {
      margin: 0 2%; } }
  @media (min-width: 980px) {
    .margin-edge {
      margin: 0 4%; } }
.margin-top {
  margin-top: 30px; }
.margin-bottom {
  margin-bottom: 30px; }
.margin-right {
  margin-right: 30px; }
.margin-left {
  margin-left: 30px; }

.pad {
  padding: 10px; }
  .pad-top {
    padding-top: 10px; }
  .pad-bottom {
    padding-bottom: 10px; }
  .pad-left {
    padding-left: 10px; }
  .pad-right {
    padding-right: 10px; }

.none-tablet {
  display: none; }
  @media (min-width: 768px) {
    .none-tablet {
      display: inherit; } }
.none-smallscreen {
  display: none; }
  @media (min-width: 980px) {
    .none-smallscreen {
      display: inherit; } }

.float-left {
  float: left; }
.float-right {
  float: right; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.border-bottom {
  border-bottom: 2px solid #303030; }

.border-top {
  border-top: 2px solid #303030; }

.off-screen {
  position: absolute;
  left: -5000px; }

#wpadminbar {
  top: 0; }

/* ===========================================================
  Navigation
============================================================ */
.main-nav .page_item {
  padding: 1rem 0;
  text-align: center; }

@media (min-width: 768px) {
  #menu-main-menu, #menu-footer-menu {
    padding: 20px 0; } }
#menu-main-menu li, #menu-footer-menu li {
  text-align: center; }
#menu-main-menu a, #menu-footer-menu a {
  font-weight: 700; }

@media (min-width: 768px) {
  #menu-main-menu {
    margin: 20px 10%; } }

.menu-item {
  width: 100%;
  margin: 10px 0; }
  @media (min-width: 768px) {
    .menu-item {
      width: auto;
      margin: 0; } }

/* ===========================================================
  Sizing
============================================================ */
/*
  Width Styling
 */
.width-onehundred {
  width: 100%; }

.width-max {
  width: 95%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto; }

.width-half {
  width: 95%; }
  @media (min-width: 768px) {
    .width-half {
      width: 48%; } }

.width-third {
  width: 95%; }
  @media (min-width: 768px) {
    .width-third {
      width: 48%; } }
  @media (min-width: 980px) {
    .width-third {
      width: 30%; } }

.width-fourth {
  width: 95%; }
  @media (min-width: 500px) {
    .width-fourth {
      width: 48%; } }
  @media (min-width: 768px) {
    .width-fourth {
      width: 31%; } }
  @media (min-width: 980px) {
    .width-fourth {
      width: 23%; } }

/*
  Height styling
 */
.height-small {
  height: 100px; }

.height-med {
  height: 200px; }

.height-large {
  height: 300px; }

.bg-img {
  background-position: center;
  background-size: cover; }

/* ===========================================================
  Icons
============================================================ */
.social-media svg {
  height: 54px;
  width: 54px;
  fill: #212121; }
  .social-media svg:hover {
    fill: #909090; }

/* ===========================================================
  Buttons
============================================================ */
.button {
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid #E9E6DD;
  color: #E9E6DD;
  padding: 0.5rem 1.6rem;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out; }
  .button:hover {
    background-color: white;
    color: #909090;
    cursor: pointer;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out; }
  .button:active {
    box-shadow: 5px 5px 5px -5px #404040 inset;
    color: #303030;
    transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out; }

/* 	Contains styling for mobile menu container, 
	NOT styling for the actual menu items. See navigation.scss */
.main-nav {
  position: fixed;
  width: 100%;
  background-color: #E9E6DD;
  box-shadow: 0px -5px 14px 5px #212121;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 11rem 2rem 2rem;
  transform: translateY(-100vh);
  z-index: 1;
  transition: transform 400ms ease-out; }

.mobile-menu-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2;
  width: 3rem;
  height: 2.6rem; }
  .mobile-menu-button .top,
  .mobile-menu-button .middle,
  .mobile-menu-button .bottom {
    border-bottom: 4px solid #BD8D50;
    position: absolute;
    top: 1.1rem;
    width: 100%;
    transition: transform 300ms ease-in-out; }
  .mobile-menu-button .top {
    transform: translateY(-1.1rem); }
  .mobile-menu-button .middle {
    transform: translateY(0rem);
    transition: opacity 300ms ease-out, transform 300ms ease-in-out; }
  .mobile-menu-button .bottom {
    transform: translateY(1.1rem); }
  .mobile-menu-button:hover {
    cursor: pointer; }

.mobile-menu-open .main-nav {
  transform: translateY(0vh);
  transition: transform 400ms ease-out; }
.mobile-menu-open .mobile-menu-button .top {
  transform: translateY(0) rotate(45deg); }
.mobile-menu-open .mobile-menu-button .middle {
  transform: translateY(0) rotate(360deg);
  opacity: 0; }
.mobile-menu-open .mobile-menu-button .bottom {
  transform: translateY(0) rotate(-45deg); }

.portfolio {
  background-color: #BD8D50;
  padding: 4rem 1.5rem; }
  .portfolio__title {
    margin: 0 0 2rem;
    text-align: center; }

.port-item__images {
  position: relative;
  height: 200px; }
.port-item__title {
  text-align: center; }
.port-item__desktop-image {
  background-color: #303030;
  border-left: 5px solid #606060;
  border-radius: 1rem;
  height: 165px;
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  transform: perspective(600px) rotateY(24deg); }
  .port-item__desktop-image img {
    height: calc(100% - 5px); }
  .port-item__desktop-image:after {
    content: ' ';
    display: block;
    background-color: #303030;
    border-left: 5px solid #606060;
    border-top: 2px solid #606060;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 20px;
    width: 100px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 40px); }
.port-item__mobile-image {
  background-color: #303030;
  border-radius: 10px;
  box-shadow: -4px 2px 14px -5px #303030;
  padding: 1.5rem 0.3rem 1rem;
  position: absolute;
  right: 0;
  bottom: 10px;
  transform: perspective(500px) rotateY(-10deg);
  width: 30%; }
  .port-item__mobile-image:before {
    background-color: white;
    border-radius: 3px;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    top: 5px;
    transform: translate(-50%);
    width: 8px; }
  .port-item__mobile-image:after {
    background-color: transparent;
    border: 1px solid #606060;
    border-radius: 50%;
    bottom: 5px;
    content: '';
    height: 8px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 8px; }

/* ===========================================================
  Header
============================================================ */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.site-header {
  display: flex;
  justify-content: space-between; }
  .site-header__bar {
    background-color: #3E3E4D;
    box-shadow: 0px -5px 14px 5px #212121;
    padding: 2rem;
    width: 100%;
    z-index: 2; }
  .site-header__title {
    color: #E9E6DD;
    margin: 0; }

/* ===========================================================
  Footer
============================================================ */
footer {
  background-color: #3E3E4D; }

/* ===========================================================
  Front Page
============================================================ */
.fold-first {
  position: relative; }

.fold-second {
  background-color: #E9E6DD; }
  .fold-second__text {
    padding: 4rem 1.5rem; }
  .fold-second__title {
    margin: 0;
    text-align: center; }

.home-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; }
  .home-hero img {
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: $fit;'; }

.welcome-section {
  background: linear-gradient(40deg, rgba(100, 100, 100, 0.3), rgba(250, 250, 250, 0.3));
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-height: 35rem;
  position: relative;
  padding: 2.0rem; }
  .welcome-section__text {
    line-height: 1.3;
    margin: 0;
    padding: 0 0 3.0rem;
    text-align: right; }

/* ===========================================================
  Content
============================================================ */

/*# sourceMappingURL=app.css.map */
